export CLUBHOUSE_ROOM_URL_PREFIX=https://www.joinclubhouse.com/event/
export DISCORD_AUTH_KEY=YOUR_DISCORD_APP_URL
export DEVRADIOPL_HOME_PAGE=HOME_PAGE_FOR_DEVRADIO
export GITHUB_PERSONAL_TOKEN=YOUR_GITHUB_TOKEN
export GITHUB_ISSUE_REPO_NAME=YOUR_REPOSITORY
export DISCORD_CHANNEL_ID_RAMOWKA=DISCORD_CHANNEL_ID
export SELF_APP_URL=http://localhost:8080